<!-- <div class="box" cdkDrag>Drag me around!</div> -->
<div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"        
    class="example-list"    
    (cdkDropListDropped)="drop($event)" >
    <div class="example-box" *ngFor="let item of todo"  cdkDrag  (cdkDragStarted)="dragStarted($event)"
    (cdkDragEnded)="dragEnded($event)"
    >
    <div class="example-handle" cdkDragHandle>
      <svg width="20px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>{{item}}</div>
   
  </div>
<div class="example-boundary" >

  <!-- <div style="height: 1px;"
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div  *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>    -->
  <div  class="example-box"  
  (cdkDragStarted)="dragStarted($event)"
  [cdkDragFreeDragPosition]="dragPosition" cdkDragBoundary=".example-boundary"  
   *ngFor="let item of dropList"  style="position: absolute;" [style.top.px]="item.y" [style.left.px]="item.x"  cdkDrag>
        {{item.text}}</div>
        <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isOpen"      >
      <div class="example-box"  cdkDrag>1</div>  
      </ng-template>
</div>
<button (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  {{isOpen ? "Close" : "Open"}}
</button>

<!-- <div cdkDropList #listOne="cdkDropList" cdkDropListOrientation="horizontal" class="example-list"  (cdkDropListDropped)="drop($event)"> -->
 <!-- <div class="example-boundary"></div> -->
<!-- </div> -->

<!-- <div cdkDrop>
  <div class="box" cdkDrag>Drag me around!</div>
</div> -->
<!-- <div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div>-->



<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license --> 